@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Overlock+SC&family=Permanent+Marker&family=Rubik+Broken+Fax&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&family=Rubik+Maps&family=Rubik+Scribble&family=Seymour+One&display=swap');

/* NOTES:
- Find out how to make images pop up in DIVIDER class from both players */

body {
    background-color: beige;
}

.main {
    text-align: center;
    border: 2px solid black;
}

.header {
   /* background-color: thistle; */
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.title {
    font-family: 'Permanent Marker', 'Rubik Doodle Triangles', 'Lemon', 'Rubik Doodle Shadow';
    color: darkcyan;
    font-size: 50px;
}

#rockTitle {
    font-family: 'Rubik Doodle Shadow';
}

#paperTitle {
    margin-left: 10px;
    color: red;
    
}

#scissorsTitle {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lemon';
    color: peachpuff;
}

.choices {
    display: flex;
    gap: 5em;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    margin-bottom: 70px;
}

#resetBTN {
    display: none;
}

.result {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    font-family:  'Seymour One', 'Rubik Broken Fax';
    background-color: linen;
    border: 2px solid black;
    border-radius: 25px;
    width: 1000px;
    height: 200px;
}

#playerTitle {
    color: blue;
}

#computerTitle {
    color: red;
}

.scoreTitle {
    font-family: 'Permanent Marker', 'Courier New', Courier, monospace;
    font-size: 20px;
}

#divider {
    margin-left: 3em;
    margin-right: 3em;
}

#output {
    font-size: 1.5rem;
    margin-top: 90px;
}


img {
    height: 170px;
    transition: transform 0.02s ease-in-out 0s;
}

img:hover {
    transform: rotate(-90deg);
}

.stable {
    position: relative;
}

.mover {
    position: absolute;
}

/* PLAYER ANIMATIONS */
/* ROCK */
@keyframes rockMovePlayer {
    from {
        transform: translateX(0) translateX(0)
    }

    to {
        transform: translateX(80px) translateY(-230px)
    }
}

.rockMovePlayer {
    animation: rockMovePlayer 0.2s ease-in 0s 1 normal both;
    transition: 1s;
}


/* PAPER */
@keyframes paperMovePlayer {
    from {
        transform: translateX(0) translateY(0)
    }

    to {
        transform: translateX(-180px) translateY(-230px);
    }
}

.paperPlayer {
    animation: paperMovePlayer 0.2s ease-in 0s 1 normal both;
    transition: 1s;
}

/* SCISSORS */
@keyframes scissorsMovePlayer {
    from {
        transform: translateX(0) translateY(0);
    }

    to {
        transform: translateX(-440px) translateY(-230px);
    }
}

.scissorsPlayer {
    animation: scissorsMovePlayer 0.2s ease-in 0s 1 normal both;
    transition: 1s;
}




/* COMPUTER ANIMATION */

/* ROCK */
@keyframes rockMoveComputer {
    from {
        transform: translateX(0) translateX(0)
    }

    to {
        transform: translateX(410px) translateY(-230px)
    }
}

.rockMoveComputer {
    animation: rockMoveComputer 0.2s ease-in 0s 1 normal both;
    transition: 1s;
}


/* PAPER */
@keyframes paperMoveComputer {
    from {
        transform: translateX(0) translateY(0)
    }

    to {
        transform: translateX(150px) translateY(-230px);
    }
}

.paperComputer {
    animation: paperMoveComputer 0.2s ease-in 0s 1 normal both;
    transition: 1s;
}

/* SCISSORS */
@keyframes scissorsMoveComputer {
    from {
        transform: translateX(0) translateY(0);
    }

    to {
        transform: translateX(-100px) translateY(-230px);
    }
}

.scissorsComputer {
    animation: scissorsMoveComputer 0.2s ease-in 0s 1 normal both;
    transition: 1s;
}
